.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
}

.hero h1 {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
}